*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito",sans-serif;
    background-color: #242A32;
  }
  
.title {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #0296E5;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 25px;
    gap: 15px;
}
  
input, button {
    padding: 10px;
    border: 1px;
    border-radius: 4px;
    background-color: #3A3F47;
    color: white;
}
  
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 5%;
}



.movie-card {
  display: inline-block;
  width: 25%;
  margin-top: 20px;
}

.image img {
  width: 250%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.movie-title, .movie-release, .movie-genre {
  display: flex;
  flex-direction: row;
  background-color: #242A32;
  border: 1px solid black;
  border-radius: 5px;
  width: 250%;
}

.hidden {
    display: none;
}
  
#loader {
  text-align: center;
  margin-top: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0296E5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  

  #results {
    margin-top: 20px;
}

  